page {
  --color-primary: 64, 158, 255; // #409eff

  --color-success: 103, 194, 58; // #67c23a
  --color-warning: 230, 162, 60; // #e6a23c
  --color-danger: 245, 108, 108; // #f56c6c
  --color-error: 245, 108, 108; // #f56c6c
  --color-info: 144, 147, 153; // #909399

  --color-t1: 48, 49, 51; // #303133
  --color-t2: 96, 98, 102; // #606266
  --color-t3: 144, 147, 153; // #909399
  --color-t4: 168, 171, 178; // #a8abb2
  --color-t5: 192, 196, 204; // #c0c4cc

  --color-b1: 255, 255, 255; // #ffffff
  --color-b2: 245, 245, 245; // #f5f5f5

  --color-d1: 220, 223, 230; // #dcdfe6
  --color-d2: 228, 231, 237; // #e4e7ed

  --font-global: -apple-system, BlinkMacSystemFont, "Helvetica Neue", Helvetica, Segoe UI, Arial, Roboto, "PingFang SC", MiSans, "miui", "Hiragino Sans GB", "Microsoft Yahei", sans-serif;

  --opacity-active: 0.6;
  --opacity-disabled: 0.5;
}

page {
  --wot-color-theme: rgb(var(--color-primary));

  --wot-color-success: rgb(var(--color-success));
  --wot-color-warning: rgb(var(--color-warning));
  --wot-color-danger: rgb(var(--color-danger));
  --wot-color-info: rgb(var(--color-info));

  --wot-color-title: rgb(var(--color-t1));
  --wot-color-content: rgb(var(--color-t2));
  --wot-color-secondary: rgb(var(--color-t3));
  --wot-color-aid: rgb(var(--color-t4));
  --wot-color-tip: rgb(var(--color-t5));
  --wot-color-bg: rgb(var(--color-b2));
  --wot-color-border: rgb(var(--color-d1));
  --wot-color-border-light: rgb(var(--color-d2));
}