page {
  --color-primary: 64, 158, 255; // #409eff

  --color-success: 103, 194, 58; // #67c23a
  --color-warning: 230, 162, 60; // #e6a23c
  --color-danger: 245, 108, 108; // #f56c6c
  --color-error: 245, 108, 108; // #f56c6c
  --color-info: 144, 147, 153; // #909399

  --color-t1: 48, 49, 51; // #303133
  --color-t2: 96, 98, 102; // #606266
  --color-t3: 144, 147, 153; // #909399
  --color-t4: 168, 171, 178; // #a8abb2
  --color-t5: 192, 196, 204; // #c0c4cc

  --color-b1: 255, 255, 255; // #ffffff
  --color-b2: 245, 245, 245; // #f5f5f5

  --color-d1: 220, 223, 230; // #dcdfe6
  --color-d2: 228, 231, 237; // #e4e7ed

  --font-global: -apple-system, BlinkMacSystemFont, "Helvetica Neue", Helvetica, Segoe UI, Arial, Roboto, "PingFang SC", MiSans, "miui", "Hiragino Sans GB", "Microsoft Yahei", sans-serif;

  --opacity-active: 0.6;
  --opacity-disabled: 0.5;
}

page {
  --nut-primary-color: rgb(var(--color-primary));
  --nut-primary-color-end: rgb(var(--color-primary));

  --nut-title-color: rgb(var(--color-t1));
  --nut-title-color2: rgb(var(--color-t2));
  --nut-text-color: rgb(var(--color-t3));

  --nut-font-family: var(--font-global);

  --nut-button-success-border-color: rgb(var(--color-success));
  --nut-button-success-background-color: rgb(var(--color-success));
  --nut-button-warning-border-color: rgb(var(--color-warning));
  --nut-button-warning-background-color: rgb(var(--color-warning));
  --nut-button-danger-border-color: rgb(var(--color-danger));
  --nut-button-danger-background-color: rgb(var(--color-danger));
  --nut-button-info-border-color: rgb(var(--color-info));
  --nut-button-info-background-color: rgb(var(--color-info));
}