// stylelint-disable no-duplicate-selectors

page {
  --color-primary: 64, 158, 255; // #409eff

  --color-success: 103, 194, 58; // #67c23a
  --color-warning: 230, 162, 60; // #e6a23c
  --color-danger: 245, 108, 108; // #f56c6c
  --color-error: 245, 108, 108; // #f56c6c
  --color-info: 144, 147, 153; // #909399

  --color-t1: 48, 49, 51; // #303133
  --color-t2: 96, 98, 102; // #606266
  --color-t3: 144, 147, 153; // #909399
  --color-t4: 168, 171, 178; // #a8abb2
  --color-t5: 192, 196, 204; // #c0c4cc

  --color-b1: 255, 255, 255; // #ffffff
  --color-b2: 245, 245, 245; // #f5f5f5

  --color-d1: 220, 223, 230; // #dcdfe6
  --color-d2: 228, 231, 237; // #e4e7ed
  --color-d3: 235, 238, 245; // #ebeef5
  --color-d4: 242, 246, 252; // #f2f6fc

  --font-global: -apple-system, BlinkMacSystemFont, "Helvetica Neue", Helvetica, Segoe UI, Arial, Roboto, "PingFang SC", MiSans, "miui", "Hiragino Sans GB", "Microsoft Yahei", sans-serif;
}

page {
  --opacity-active: 0.6;
  --opacity-disabled: 0.5;
}