.preset-alpha-hover {
  opacity: 0.7;
}

.preset-darken-hover {
  &::before {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    content: "";
    background-color: #000000;
    border-color: #000000;
    border-radius: inherit;
    opacity: 0.05;
    transform: translate(-50%, -50%);
  }
}