:not(not) {
  box-sizing: border-box;
}

view {
  -webkit-tap-highlight-color: transparent;
}

/* #ifdef WEB */

uni-tabbar {
  display: none;
}

.uni-app--showtabbar {
  uni-page-wrapper {
    height: 100%;

    &::after {
      display: none;
    }
  }
}

/* #endif */